<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "letskodeit Functional Test Automation" parallel = "tests" thread-count = "2">

 <listeners>
   <listener class-name = "rerun.failedtest.AnnotationTransformer">
    </listener>
   </listeners>

 <test name="FunctionalChrome" >
<parameter name = "crossbrowser"   value = "chrome"/>
    <packages>
      <package name="testcases" />
   </packages>
 </test>

</suite>